@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #040D1B;
  overflow-x: hidden;
}

/* custom scoll */
::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #3EDA7C;;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #32af64;
}